@page "/forecast"
@using HDFConsole.Models
@using System.Text.Json
@inject HttpClient Http

<PageTitle>Forecast</PageTitle>


@if (files == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        <table>
            <tr>
                <td>Selected file index: @selectedFileIndex/@files.Length</td>
                <td class="buttonTd">
                    <button class="btn btn-secondary light float-right refreshButton" @onclick="NextImage">
                        Next image
                    </button>
                    <button class="btn btn-success" @onclick="StartAutoplay">
                  @*       <i class="bi bi-play"></i> *@
                        Autoplay</button>
                </td>
            </tr>
        </table>
    </div>
    <div class="contentDiv">
        <div class="tableDiv">
            <h4>@files[selectedFileIndex].Filename</h4>
            <table class="modelTable">
                <tr>
                    <th align="left">Property</th>
                    <th align="left">Value</th>
                </tr>
                <tr>
                    <td>Filename</td>
                    <td>@files[selectedFileIndex].Filename</td>
                </tr>
                <tr>
                    <td>Size (bytes)</td>
                    <td>@files[selectedFileIndex].Size</td>
                </tr>
                <tr>
                    <td>Created</td>
                    <td>@files[selectedFileIndex].Created (@RelativeTimeFromNow(files[selectedFileIndex].Created))</td>
                </tr>
                <tr>
                    <td>Last Modified</td>
                    <td>@files[selectedFileIndex].LastModified</td>
                </tr>
                <tr>
                    <td>Dataset Name</td>
                    <td>@files[selectedFileIndex].DatasetName</td>
                </tr>
                <tr>
                    <td>Last refreshed:</td>
                    <td>
                    </td>
                </tr>
            </table>
        </div>
        <h4>Image Data</h4>
        <div class="imageDiv">
            <img class="latestImage" src="@($"data:image/png;base64,{Convert.ToBase64String(files[selectedFileIndex].ImageData)}")" alt="Image" />
        </div>
    </div>
}

@code {
    private HDFFile[]? files;
    private DateTime fetchTime;
    private Timer? timer;
    private int selectedFileIndex = 0;
    private string fetchTimeAgo = $"(Refreshed 0m0s ago)";
    private bool autoplay = false;

    protected override async Task OnInitializedAsync()
    {
        await GetImages();
        // UpdateFetchTimeAgo();
        // timer = new Timer(Tick, null, 0, 1000);
    }

    private async Task GetImages()
    {
        var response = await Http.GetAsync("files/list");

        if (response.IsSuccessStatusCode)
        {
            var stream = await response.Content.ReadAsStreamAsync();
            files = await JsonSerializer.DeserializeAsync<HDFFile[]>(stream, new JsonSerializerOptions() { PropertyNameCaseInsensitive = true });
            fetchTime = DateTime.Now;
        }
    }

    private void UpdateFetchTimeAgo()
    {
        fetchTimeAgo = $"(Refreshed {RelativeTimeFromNow((DateTime)fetchTime)})";
    }

    private string RelativeTimeFromNow(DateTime time)
    {
        TimeSpan diff = DateTime.Now.Subtract(time);
        return $"{(int)diff.TotalMinutes}m{(int)diff.Seconds}s ago";
    }

    private void NextImage(MouseEventArgs e) => ShowNextImage();

    private void ShowNextImage()
    {
        if (selectedFileIndex == files?.Length - 1)
        {
            selectedFileIndex = 0;
        }
        else
        {
            selectedFileIndex++;
        }
    }

    private void StartAutoplay(MouseEventArgs e)
    {
        if (!autoplay)
        {
            timer = new Timer(Tick, null, 0, 1000);
            autoplay = true;
        }
        else
        {
            timer?.Dispose();
            autoplay = false;
        }
    }

    private void Tick(object? _)
    {
        Console.WriteLine("Timer tick");
        ShowNextImage();
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        timer?.Dispose();
    }
}
